@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  padding: 25px 80px;
  background-color: #ddd;
  color: white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header,
section,
footer {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 15px;
}
header {
  background-color: #2b2b2b;
  height: 200px;
  text-align: center;
}
header .name {
  font-size: 40px;
  color: white;
  text-transform: capitalize;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  padding-top: 20px;
}
header .major {
  color: #ddddddc7;
}
header nav li {
  display: inline-block;
  padding: 15px 25px;
}
header nav li a {
  color: white;
  text-transform: capitalize;
}
header nav li a:hover {
  color: #ff8c00;
}
section {
  margin: 80px 0;
}
section h2.section-header {
  font-size: 30px;
  text-transform: capitalize;
}
.about-me {
  background-color: white;
  color: #2b2b2b;
}
.about-me p {
  font-size: 20px;
}
.about-me p span {
  font-weight: bold;
  color: #ff8c00;
}
.about-me img {
  width: 180px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: block;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
}
.skills {
  background-image: url(./yellow-gradient-background_78370-3539.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}
.skills h2.section-header {
  color: #2b2b2b;
}
.skills .skills-container {
  margin: 0 10px;
  padding: 15px;
  width: 1235px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd78;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}
.skills .skills-container div {
  background-color: #2b2b2b;
  color: white;
  margin: 2px;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
  position: absolute;
}

.skills .skills-container div:nth-of-type(1) {
  position: absolute;
  top: 15px;
  left: 15px;
}
.skills .skills-container div:nth-of-type(1):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(1):active {
  top: 15px;
}
.skills .skills-container div:nth-of-type(2) {
  position: absolute;
  left: 183px;
  top: 15px;
}
.skills .skills-container div:nth-of-type(2):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(2):active {
  top: 15px;
}
.skills .skills-container div:nth-of-type(3) {
  position: absolute;
  left: 358px;
  top: 15px;
}
.skills .skills-container div:nth-of-type(3):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(3):active {
  top: 15px;
}
.skills .skills-container div:nth-of-type(4) {
  position: absolute;
  left: 515px;
  top: 15px;
}
.skills .skills-container div:nth-of-type(4):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(4):active {
  top: 15px;
}
.skills .skills-container div:nth-of-type(5) {
  position: absolute;
  left: 693px;
  top: 15px;
}
.skills .skills-container div:nth-of-type(5):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(5):active {
  top: 15px;
}
.skills .skills-container div:nth-of-type(6) {
  position: absolute;
  left: 920px;
  top: 15px;
}
.skills .skills-container div:nth-of-type(6):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(6):active {
  top: 15px;
}
.skills .skills-container div:nth-of-type(7) {
  position: absolute;
  left: 1066px;
  top: 15px;
}
.skills .skills-container div:nth-of-type(7):hover {
  top: 5px;
}
.skills .skills-container div:nth-of-type(7):active {
  top: 15px;
}
.projects {
  background-color: white;
  color: #2b2b2b;
}
.projects .projects-container {
  position: relative;
}
.projects .projects-container .project {
  width: 200px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.projects .projects-container div:first-of-type {
  background-color: #ff8c00;
  color: white;
  position: absolute;
  top: -635px;
}
.projects .projects-container div:last-of-type {
  background-color: #2b2b2b;
  color: white;
  width: 102%;
  height: 300px;
}
.contact {
  background-color: #f0ecec;
  color: #2b2b2b;
}
.contact form label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

.contact form input,
.contact form textarea {
  width: 100.6%;
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.contact form textarea {
  height: 80px;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 15px;
}

.contact form input:focus,
.contact form textarea:focus {
  border-color: #ff8c00;
  outline-color: #ff8c00;
}

.contact form input[type="submit"] {
  width: fit-content;
  padding: 10px 25px;
  border: 2px solid #ff8c00;
  color: #ff8c00;
  cursor: pointer;
}
footer {
  background-color: #2b2b2b;
  color: white;
  text-align: center;
}
footer a {
  color: #ff8c00;
}
