* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #666666;
  height: 60px;
  width: 100%;
}

main {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
}
main .left {
  width: 71%;
  height: 80vh;
  /* background-color: aqua; */
}
main .left .top {
  height: 40px;
  /* background-color: #ddd; */
}
main .left .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main .left .top .taps {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}
main .left .list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px 10px;
  width: 100%;
  min-height: 310px;
  height: fit-content;
  padding: 10px;
}
main .left .list div {
  width: 18%;
  height: 20vh;
}
main .left .list div .image {
  background-color: #ddd;
  width: 100%;
  height: 70%;
}
main .left .list div .text {
  width: 100%;
  height: 30%;
  font-size: 8px;
  padding: 3px 0px;
}
.taps div {
  width: 120px;
  height: 30px;
  background-color: #ddd;
  margin-right: 5px;
}
.taps div:first-child {
  background-color: #666666;
}

main .left .main {
  width: 100%;
  height: 250px;
  background-color: #666666;
}

main .right {
  width: 25%;
  height: 80vh;
  /* background-color: blue; */
}
main .right .top {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main .right .top div {
  width: 25px;
  height: 20px;
  background-color: #c8c5c5;
  margin-left: 5px;
}
main .right .main {
  height: 250px;
  width: 100%;
  background-color: #c8c5c5;
}
main .right .list {
  width: 100%;
  height: 310px;
  padding: 10px 0;
}

main .right .list .top {
  height: 20px;
  background-color: #666666;
}

main .right .list .post {
  width: 100%;
  min-height: 130px;
  height: fit-content;
  padding: 12px 0;
}
main .right .list .post .image {
  background-color: #666666;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  float: left;
  margin-right: 5px;
}
main .right .list .post .text {
  font-size: 15px;
  padding: 5px;
}
main .right .list hr {
  background-color: #666666;
  height: 3px;
}
footer {
  background-color: #ddd;
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}
